* {
    box-sizing: border-box;    
}

label {
    font-size: 20px;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;    
}
.arcodion {    
    border-top: 2px solid black;
    border-bottom: 1px solid black;    
}

.question {    
    display: grid;
    grid-template-columns: 30px 80% 10%;
    padding: 10px;
    border-top: 1px solid black;
}

.answer {
    background-color: #f4f4f2;
    color: black;

    display: grid;
    grid-template-rows: 50% 50%;
    padding-left: 50px;

    display: none;
}
.answer p {
    padding: 5px;
    margin: 0;
}


.circle-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: right;
}
.circle-btn:hover {
    cursor: pointer;
}
.btn-img {
    text-align: right;
}

.btn-img .open-btn {
    display: inline-block;
}
.btn-img .close-btn {
    display: none;
} 

.btn-img.on .open-btn {
    display: none;
}
.btn-img.on .close-btn {
    display: inline-block;
}


