* {
    box-sizing: border-box;    
}

/**
    테이블의 전체크기 > 1200px;
    중앙배치
*/
main{
    width: 1200px;
    margin: 0 auto;
}


/**
    게시판 위쪽의 검색창 및 버튼
*/
.upper-left, .upper-right{
    display: inline-block;    
}



/**
    게시핀에 관련된 CSS
*/
.table {
    border: 1px solid black;        
    margin: 0 auto;
}
.table a {
    text-decoration: none;
    color: black;
}


.board-no {
    width: 5%;
}
.board-title {
    width: 60%;
    text-overflow: ellipsis;
    background-color: red;    
}
.board-reg {
    width: 10%;
}
.board-view {
    width: 10%;
}
.board-file {
    width: 10%;
}



/** 버튼에 대한 색 및 크기
*/
.btn-navy {
    color: white;
    background-color: navy;
    padding: 5px;
}

input[type="button"]:hover {    
    cursor:pointer;
}



