* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 70%;
}
img {
    width: 20%;
    margin: 5px;
}

/* 테이블 상단 검색 메뉴*/
.upper-wrap {
    display: grid;
    grid-template-columns: 10% 40%;
    margin-bottom: 10px;
    column-gap: 50%;        
    /* justify-items: end; */
    
}
.upper-left {
    align-items: end;    
    vertical-align: bottom;
}
.upper-left .search-count {
    font-weight: bold;
    color : navy;    
}
.upper-right {
    display: grid;
    grid-template-columns: 18% 35% 10%;    
    column-gap: 1%;     
    justify-content: end;
}


/* 테이블 게시판*/
.table-wrap {
    border-top : 2px solid navy;
    border-bottom: 2px solid navy;
}
.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.table thead {
    background-color: rgba(227, 227, 227, 0.89);
    height: 35px;
    color: navy;    
}
.table tr {
    border-top : 1px solid grey;
    height: 40px;
}

.table-title {
    text-align: left;
}
.table-title a {
    width: 80%;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-decoration: none;
    color: black;
}


/* 테이블 하단 메뉴 버튼*/
.bottom-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
}
.bottom-right {
    text-align: right;
}




/* 버튼 색 정하기*/
.search-type {border: 1px solid black}
.search-content {border: 1px solid black}

.navy-btn {
    background-color: navy;
    color: white;

    border: 1px solid black;    
    padding: 5px;
}
.gray-btn {
    background-color: gray;
    color: white;

    border: 1px solid black;
    width: 50px;
    padding: 5px;
}

input[type="button"]:hover {
    cursor: pointer;
}